<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albrus.consume.mapper.ConsumeCostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.albrus.consume.entity.ConsumeCost">
    <result column="id" property="id" />
        <result column="consume_type" property="consumeType" />
        <result column="consume_money" property="consumeMoney" />
        <result column="consume_date" property="consumeDate" />
        <result column="consume_user" property="consumeUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        consume_type, consume_money, consume_date, consume_user
    </sql>

</mapper>
