<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form id="form" action="/login" method="post">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="checkbox" name="rememberMe">
    <input type="button" id="login" value="登录">
</form>
<script type="text/javascript" src="/static/js/manifest.3ad1d5771e9b13dbdad2.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.serializejson.js"></script>
<script>
    $('#login').click(function () {
        $.ajax({
            url: "/login",
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            data: $('#form').serializeJSON()
        });
    })
</script>
</body>
</html>